*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif   ;
    /* background: #000; */
    overflow-x: hidden;
    
}

.page1
section {
    width: 100vw;
    height: 100vh;
}
@media only screen and (max-width: 768px){
    .page1
section {
    width: 100vw;
    height: 65vh;
}
}
.page1
.swiper-container {
    width: 100%;
    height: 100%;
}
.page1
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
}
.page1
.slide-image {
    position: absolute;
    top: -200px;
    left: -200px;
    width: calc(100% + 400px);
    height: calc(100% + 400px);
    background-position: 50% 50%;
    background-size: cover;
}
.page1
.slide-title {
    font-size: 4rem;
    line-height: 1;
    max-width: 50%;
    white-space: normal;
    word-break: break-word;
    color: #fff;
    z-index: 100;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
@media (min-width: 45em) {
    .page1
    .slide-title {
        font-size: 7vw;
        max-width: none;
   }
}
.page1
.slide-title span {
    white-space: pre;
    display: inline-block;
    opacity: 0;
}
.page1
.slideshow {
    position: relative;
}
.page1
.slideshow-pagination {
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s opacity;
    z-index: 10;
}
.page1
.slideshow-pagination-item {
    display: flex;
    align-items: center;
}
.page1
.slideshow-pagination-item .pagination-number {
    opacity: 0.5;
}
.page1
.slideshow-pagination-item:hover, .page1 .slideshow-pagination-item:focus {
    cursor: pointer;
}
.page1
.slideshow-pagination-item:last-of-type .pagination-separator {
    width: 0;
}
.page1
.slideshow-pagination-item.active .pagination-number {
    opacity: 1;
}
.page1
.slideshow-pagination-item.active .pagination-separator {
    width: 10vw;
}
.page1
.slideshow-navigation-button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    z-index: 1000;
    transition: all 0.3s ease;
    color: #fff;
}
.page1
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}
.page1
.slideshow-navigation-button.prev {
    left: 0;
}
.page1
.slideshow-navigation-button.next {
    right: 0;
}
.page1
.pagination-number {
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 0 0.5rem;
}
.page1
.pagination-separator {
    display: none;
    position: relative;
    width: 40px;
    height: 2px;
    background: rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
}
@media (min-width: 45em) {
    .page1
    .pagination-separator {
        display: block;
   }
}
.page1
.pagination-separator-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: 0 0;
}

.page2
 h2 {
	 font-family: "Playfair Display", serif;
	 font-optical-sizing: auto;
	 font-weight: 400;
	 font-style: normal;
}
.page2
 .card {
	 position: relative;
}
.page2
 .card::before {
	 position: absolute;
	 content: "";
	 width: 100%;
	 height: 100%;
	 transition: 0.6s;
	 z-index: 0;
	 background-color: rgb(201, 218, 211);
}
.page2
 .card:hover {
	 box-shadow: 0.063rem 0.063rem 1.25rem 0.375rem #000;
}
.page2
 .card:nth-child(1)::before {
	 bottom: 0;
	 right: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}
.page2
 .card:nth-child(2)::before {
	 bottom: 0;
	 left: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}
.page2
 .card:nth-child(3)::before {
	 top: 0;
	 right: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}
.page2
 .card:nth-child(4)::before {
	 top: 0;
	 left: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}
.page2
 .card p {
	 transition: 0.8s;
}
.page2
 .card:hover::before {
	 clip-path: circle(110vw at 100% 100%);
}
.page2
 .card:hover p {
	 color: #373104;
     font-weight: 500;
}

 @media screen and (min-width: 62.5rem) {
    .page2
	 .circle {
		 position: absolute;
		 width: 100%;
		 height: 100%;
		 z-index: 0;
         
	}
}
.page2
 .card:nth-child(1) .circle {
	 background: url("https://images.unsplash.com/photo-1587440871875-191322ee64b0?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50% / cover;
	 bottom: 0;
	 right: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}
.page2
 .card:nth-child(2) .circle {
	 background: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50% / cover;
	 bottom: 0;
	 left: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}
.page2
 .card:nth-child(3) .circle {
	 background: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50% / cover;
	 top: 0;
	 right: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}
.page2
 .card:nth-child(4) .circle {
	 background: url("https://images.unsplash.com/photo-1600880292203-757bb62b4baf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50% / cover;
	 top: 0;
	 left: 0;
	 clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}
.page2{
    background-color: #ffffff!important;
    width: 100vw;
    height: 100%!important;
    position: relative;

}
 /* page 3 css start */
 
.page3
 html {
    font-size: 100%;
    font-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.page3
*, .page3 *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.page3
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252a32;
    background: #fff;
}
.page3
a, 
.page3 
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
}
.page3
img, .page3 video {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.page3
.container {
    max-width: 80rem;
    width: 100%;
    height: auto;
    padding: 0 2rem;
    margin: 0 auto;
}
.page3
.text {
    font-family: inherit;
    font-weight: 700;
    line-height: inherit;
    text-rendering: optimizeLegibility;
}
.page3
.text-title {
    font-size: 1.25rem;
    color: #d32f2f;
}
.page3
.paragraph {
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    margin: 0.25rem 0;
    color: #252a32;
    text-transform: unset;
    text-rendering: optimizeLegibility;
}
.page3
.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page3
.main .scroll {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin: 2.5rem 0;
    cursor: default;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 0px 1.25rem;
    scrollbar-width: none;
}
.page3
.main .scroll::-webkit-scrollbar {
    display: none;
}
.page3
.main .scroll.active {
    cursor: grab;
    cursor: -webkit-grab;
}
.page3
.main .scroll .card {
    width: 16rem;
    height: auto;
    flex: 0 0 auto;
    margin: 0 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: #252a32;
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.page3
.main .scroll .card-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 110%;
}
.page3
.main .scroll .card-image img.responsive {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page3
.main .scroll .card-inner {
    width: 100%;
    height: auto;
    padding: 1rem;
}


/* page 4 css  */

/* himanshu code */

.page-image-expand{
    width: 100vw;
    height: 110vh;
    /* background: #000; */
    padding: 16vh 5vw;
  }
  .page-image-expand
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border-radius: 2px;
    margin: 0 auto;
    min-height: 80vh;
  }
  .page-image-expand
  .item-wrapper {
    font-family: monospace;
    font-size: 18px;
    flex: 1 0 auto;
    text-align: center;
    min-height: 90vh;
    position: relative;
    background: center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: flex 0.5s;
    -webkit-transition: flex 0.5s;
    -moz-transition: flex 0.5s;
    -o-transition: flex 0.5s;
  }
  .item-wrapper h5{
    font-weight: 900;
    font-size: 17px;
    position: absolute;
    transform: translateY(0%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    background-color: #f5f5dc9d;
    background-color: #aaaa9dd6;
    border-radius: 2px;
    line-height: 19px;
    margin-top: 40vh;
    box-shadow: 1px  solid black;
  
    transform: rotate(90deg);
    padding: 20px 28vh;
  
   
  }
  .hhide{
    display: none;
  }
   .w1 h6{
    display: none;
   }
  .page-image-expand
  .item-wrapper.expand {
    flex-grow: 10;
  }
  .page-image-expand
  .item-wrapper.w1 {
    background-image: url("https://img.freepik.com/free-psd/cosmetic-creme-mockup_23-2147649079.jpg?t=st=1713280223~exp=1713283823~hmac=2a83709daef67eadf102984767fc78d421b409f392b04824e9fc380f5eda0829&w=360");
  
  }
  .page-image-expand
  .item-wrapper.w2 {
    background-image: url("https://img.freepik.com/free-photo/front-view-healthy-argan-oil-arrangement_23-2148989093.jpg?t=st=1713280851~exp=1713284451~hmac=47b520c8b704d6306d33402b94111070eaff3607ed868c1cdd3fa4daa74385a6&w=360");
  
  }
  .page-image-expand
  .item-wrapper.w3 {
    background-image: url("https://img.freepik.com/free-photo/natural-products-arrangement-high-angle_23-2148899416.jpg?t=st=1713280905~exp=1713284505~hmac=56e11afb1b7bee0ad3601fe0307d07831b60eefdc2a38234a6f5ba2fc52781f9&w=360");
  
  }
  .page-image-expand
  .item-wrapper.w4 {
    background-image: url("https://img.freepik.com/free-photo/composition-jojoba-oil-dropper_23-2149022363.jpg?t=st=1713280992~exp=1713284592~hmac=95b84af68ea120993e2bde180fd752a11781bdf48ba54188411387383436d0a3&w=360");
  }
  .page-image-expand
  .item-wrapper p {
    font-weight: 900;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-500%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    /* background-color: #f5f5dc; */
    background-color: #f5f5dc76;
    border-radius: 10px;
    padding: 20px;
    margin-top: 35vh;
    margin-left: -15vw;
    width: 18vw;
    /* text-align: justify; */
  }
  .page-image-expand .item-wrapper p.active {
    transform: none; /* Reset any transformations */
    opacity: 1; /* Ensure the element is visible */
  }
  
  .page-image-expand .item-wrapper p {
    font-weight: 700;
    font-size: 15px;
    transform: perspective(1000px) rotateX(30deg) rotateY(-30deg) translateY(-500%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    background-color: #f5f5dc76;
    border-radius: 14px;
    padding: 20px;
    margin-top: 35vh;
    margin-left: -15vw;
    width: 18vw;
   
    letter-spacing: 1px;
  
  }
  
  .page-image-expand
  .item-wrapper p.active {
    transform: translateY(0);
  }
  .page-image-expand h6{
    text-align: center;
    font-size: 2.2vw;
    padding: 1vw;
    font-weight: 400;
    color: #302f2f;
  
    
  }
  
  
  
  /* Small devices (phones, 576px and up) */
  @media (max-width: 576px) {
    .page-image-expand {
      padding: 1vh 1vw;
      width: 100vw;
      /* background-color: #c01616; */
      height: 80vh;
      margin-top: -14vh;
    }
    .page-image-expand h6{
      text-align: center;
      font-size: 6vw;
      padding: 2vw;
      font-weight: 500;
      color: #000;
      
    }
    .page-image-expand
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border-radius: 2px;
    margin: 0 auto;
    height: 50vh;
    min-height: 50vh;
    width: 100%;
  
  }
  .page-image-expand
  .item-wrapper {
    font-family: monospace;
    font-size: 18px;
    flex: 1 0 auto;
    text-align: center;
    min-height: 60vh;
    
    background: center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: flex 0.5s;
    -webkit-transition: flex 0.5s;
    -moz-transition: flex 0.5s;
    -o-transition: flex 0.5s;
  }
  
  .page-image-expand .item-wrapper p {
    font-weight: 700;
    font-size: 7px;
    transform: perspective(1000px) rotateX(30deg) rotateY(-30deg) translateY(-500%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    background-color: #f5f5dc76;
    border-radius: 14px;
    padding: 20px;
    margin-top: 15vh;
    margin-left: -15vw;
    width: 28vw;
   
    letter-spacing: 1px;
  
  }
  .page-image-expand
  .item-wrapper.expand {
    flex-grow: 18;
  }
  .item-wrapper h5{
    font-weight: 900;
    font-size: 15px;
    position: absolute;
    transform: translateY(0%);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    /* background-color: #89897b9d; */
   
    border-radius: 2px;
    line-height: 19px;
    margin-top: 25vh;
    box-shadow: 1px  solid black;
  
    transform: rotate(90deg);
    padding: 12px 20vh;
  
   
  }
  
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
   
  
  
  
  
  }
  
  
  
  
  
  
  
  